.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: aquamarine;
}
.links > * {
    padding: 12px;
}

a:link {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    background-color: blue;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    align-items: flex-start;
    margin-right: 24px;
}

.intro > div {
    padding-bottom: 10px;
}

.main {
    font-weight: bold;
    font-size: 36px;
    color: white;
}

img {
    border: 1px solid white;
    flex: 1;   
    border-radius: 12px; 
}

button {
    padding: 8px;
    margin: 0px;
    border-radius: 12px;
    border-style: none;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua  ;
    padding: 36px 0px 70px;
}

.info-cont {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}

.info {
    max-width: 175px;
    text-align: center;
    padding: 0px 16px;
    max-width: 23%;
}

.info> img {
    min-height: 100px;
    min-width: 100px;
}

.info> div {
    padding: 12px 0px;
    font-size: 12px;
    opacity: 0.8;

}

.mid-header {
    font-size: 26px;
    color: black;
    font-weight: 600;
    padding: 0px 0px 30px;
    opacity: 0.85;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 80px 140px;
    background-color: lightgrey;
    align-items: center;
}

.quote-text {
    font-size: 26px;
    font-style: italic;
    opacity: 0.75;
}

.person {
    align-self: flex-end;
    font-weight: bold;
    padding-top: 16px;
    padding-right: 28px;
    font-size: 20px;
}